* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    /* font-family: 'Times New Roman', Times, serif; */
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.head {
    font-size: 25px;
    font-weight: 100;
    /* font-family: 'Courier New', Courier, monospace; */
    text-align: left;
    padding-bottom: 10px;
    background-color: aliceblue;
}

.head1 {
    background-color: aliceblue;
    font-size: 25px;
    font-weight: 100;
    /* font-family: 'Courier New', Courier, monospace; */
    text-align: left;
    padding-bottom: 10px;
}

.subhead {
    font-weight: 50;

}

.subhead1 {
    font-weight: 50;
    /* align-items: right; */
}

table {
    border: 1px rgb(0, 0, 0);
}

.tab_2_p {
    font-size: 15px;
}
.tbl{
    border: 5px;
    border-color: black;
}
.description{
    padding-top: 100px;
}
.head_main {
    font-size: 20px;
    font-weight: 100;
    /* font-family: 'Courier New', Courier, monospace; */
    text-align: left;
    padding-bottom: 10px;
    background-color: aliceblue;
}

.head_main1 {
    font-size: 20px;
    font-weight: 100;
    width: 25%;
    /* font-family: 'Courier New', Courier, monospace; */
    text-align: center;
    padding-bottom: 10px;
    background-color: aliceblue;
}

ul {
    padding-left: 70px;
    padding-top: 8px;
}